<!--
  Generated template for the ProductSpec page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Generated Tech Pack</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <button ion-item *ngFor = "let tpack of tpacks" (click) = downloadTechPack(tpack)  color="light" outline>
          {{ tpack['LCSDOCUMENT.PTC_STR_1TYPEINFOLCSDOCUMENT'] }}
      </button>
  </ion-list>
</ion-content>
