<!--
  Generated template for the ProductList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Product Search List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h4> List of Products </h4> -->

  <ion-list>
      <button ion-item *ngFor = "let products of products" (click) = showProductDetails(products)>
          {{ products['LCSPRODUCT.PTC_STR_1TYPEINFOLCSPRODUCT'] }}
      </button>

  </ion-list>
</ion-content>
