<!--
  Generated template for the ProductDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tertiary">
    <ion-title>Product Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ul>
    <li *ngFor='let entry of productDetails | keys'>
      <p> <strong> {{entry.key}} </strong> : {{entry.value}} </p>
    </li>
  </ul>

</ion-content>
