<!--
  Generated template for the SearchProduct page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Product Search by Name</ion-title>
  </ion-navbar>

</ion-header>

<!-- <br>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item['LCSPRODUCT.PTC_STR_1TYPEINFOLCSPRODUCT'] }}
  </ion-item>
</ion-list> -->

<br>
<h4>Search Product</h4>
<div>

<ion-list>

  <ion-item>
    <ion-input name="search" type="text" placeholder="Name.." [(ngModel)]="searchQuery"></ion-input>
  </ion-item>

</ion-list>
<!-- <button ion-button full outline>Outline + Full</button> -->
<button ion-button full outline color="secondary" (click) = searchProduct()>Search</button>
<!-- <button ion-button color="secondary" type="submit">Search</button> -->
</div>
