
  <ion-header>
    <ion-navbar color="primary">
    <!-- <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content> -->
      <ion-title>Home</ion-title>

      <ion-buttons start>
        <button ion-button icon-only item-end (click) = logout()>
          <ion-icon name="log-out"></ion-icon><p>logout</p>
        </button>

      </ion-buttons>
    </ion-navbar>
  </ion-header>



<!--
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>

      <ion-navbar color="primary">
        <ion-title>Home</ion-title>
        <ion-buttons start>
          <button ion-button icon-only item-end (click) = logout()>
            <ion-icon name="log-out"></ion-icon><p>logout</p>
          </button>
        </ion-buttons>
      </ion-navbar>
      </ion-toolbar>
  </ion-header>
      <ion-content>
        <ion-list>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>
        </ion-list>
      </ion-content>
</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="HomePage" #content swipeBackEnabled="false"></ion-nav>

<ion-content padding>
  <h4> List of Seasons </h4>
  <br>
  <ion-list>
      <button ion-item *ngFor = "let season of seasons" (click) = showSeasonDetails(season)>
        {{ season['LCSSEASON.PTC_STR_4TYPEINFOLCSSEASON']}}
      </button>

  </ion-list>
</ion-content>
