<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Work Approvals</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<!-- <ion-grid>
  <ion-row  ion-item *ngFor = "let work of worklist">{{ work.name}}</ion-row>
</ion-grid> -->

<!-- <ion-item   ion-item *ngFor = "let work of worklist">
  <ion-toggle checked="false"></ion-toggle>
  <ion-label >
    {{ work.name}}
  </ion-label>
  <ion-icon name='git-branch' item-start></ion-icon>
</ion-item> -->

<ion-card>
  <ion-card-content>
    <h4><strong>Product 1002</strong></h4>
    <p>Upload the Images and Approve</p>
  </ion-card-content>

  <ion-item>
    <button ion-button clear item-end (click) = showPromptMessage()>Approve</button>
    <button ion-button clear item-end (click) = showPromptMessage()>Route</button>
    <button ion-button clear item-end (click) = showPromptMessage()>Reject</button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-content>
    <h4><strong>Product 8906</strong></h4>
    <p>Verify the TeckPack</p>
  </ion-card-content>

  <ion-item>
    <button ion-button clear item-end>Approve</button>
    <button ion-button clear item-end>Route</button>
    <button ion-button clear item-end>Reject</button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-content>
    <h4><strong>Product 1007</strong></h4>
    <p>Approve the Fit Sample</p>
  </ion-card-content>

  <ion-item>
    <button ion-button clear item-end>Approve</button>
    <button ion-button clear item-end>Route</button>
    <button ion-button clear item-end>Reject</button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-content>
    <h4><strong>Product 4567</strong></h4>
    <p>Approve the Sizing</p>
  </ion-card-content>

  <ion-item>
    <button ion-button clear item-end>Approve</button>
    <button ion-button clear item-end>Route</button>
    <button ion-button clear item-end>Reject</button>
  </ion-item>
</ion-card>

</ion-content>
