<!--
  Generated template for the Seasons page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Season Details Page</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ul>
    <li *ngFor='let entry of seasonDetails | keys'>
      <p> <strong> {{entry.key}} </strong> : {{entry.value}} </p>
    </li>
  </ul>

</ion-content>
